rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // L'utilisateur ne peut toucher qu'à SON propre dossier
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}